NODE_ENV=production
PORT=3001

# SofaScore
SOFASCORE_BASE_URL=https://api.sofascore.com/api/v1
SOFASCORE_IMG_BASE_URL=https://img.sofascore.com/api/v1
MATCHES_TIMEZONE=America/Sao_Paulo

# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://seu-recurso.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=
